* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth; 
 }

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;   
   margin: 0;
   padding: 0;
   min-height: 100vh;
   font-family: 'Lato';
   background-color: #f7e6f2;
}


.container {
   max-width: 1440px;
   width: 80%;
   margin: 0 auto;
}

.header .container, 
.footer .container{
   background-color: #f2bce3;
   }

.main .container {
   background-color: #ffffff;
}
.nav-list {
   margin-top: 0;
   margin-bottom: 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   color: #000000;
   text-decoration: none;
   font-weight: 700;
   font-size: 15px;
   transition: 0.3s;
 }

 .nav-link:hover {
   font-size: 20px;
 }

 .eng-desc {
   margin-bottom: 0;
 }